@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.theme {
    font-family: 'Baloo Bhai 2', sans-serif;
    border: 0.1rem solid white;
    border-radius: 0.2rem;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: inset 0 0 20px rgba(218, 243, 243, 0.8);
}

#overlay {   
    width: 15%;
    height: auto;
    margin: 0;
    top: 2.5%;
    left: 1%;
    position: absolute;
    display: block;
    z-index: 2;
}

.overlay_second {
    width: auto;
    height: auto;
    margin: 0;
    bottom: 2.5%;
    right: 3%;
    position: absolute;
    text-align: center;
    display: inline-block;
    z-index: 2;
}

.marker-board {
    width: auto;
}

.mapboxgl-popup-content {
    position: relative;
    top: 0;
    left: 0;
    width: 400px;
    height: auto;
}

#modal {
    position: relative;
    text-align: left;
    display: block;
    z-index: 1;
    margin: 1% auto;
    width: 40%;
    height: auto;
    line-height: 1.2;
    padding: 1%;
    visibility: visible;
}

.center {
    text-align: center;
}

.city {
    font-size: 1.5vw;
    text-align: center;
}

.description {
    font-size: 1vw;
}

.bio {
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 5%;
    width: auto;
    line-height: 1.2;
}

.title {
    font-weight: bold;
    font-size: 1vw;
    text-align: center;
}

.title .center {
    font-size: 3vw;
}

a {
    text-decoration: none;
}

#mobile {
    position: relative;
    text-align: left;
    display: block;
    z-index: 1;
    line-height: 1.2;
    margin-top: 2%;
    margin-left: 45.25%;
    width: 52%;
    height: auto;
    padding: 0.2%;
    visibility: hidden;
}

/* iPhone 6/7/8 PLUS */
@media only screen and (max-width: 414px) {
    .city {
        font-size: 3.5vw;
    }

    .description {
        font-size: 3.5vw;
    }

    #overlay {
        font-size: 3.5vw;
        width: 40%;
        height: auto;
        margin: 0;
        top: 2%;
        left: 3%;
    }
    .title {
        font-size: 3.8vw;
        text-align: center;
    }

    .overlay_second {
        font-size: 20px;
        width: auto;
        height: auto;
        margin: 0;
        bottom: 2%;
        right: 13%;
        padding: 0 1%;
    }

    #modal {
        margin-top: 3.5%;
        margin-left: 45.25%;
        width: 50%;
        height: auto;
        overflow-y: scroll;
        padding: 1%;
        visibility: visible;
    }
}
/* iPhone 6/7/8 + X/XS */
@media only screen and (max-width: 375px) {
    #overlay {
        font-size: 3.5vw;
        width: 40%;
        height: auto;
        margin: 0;
        top: 2%;
        left: 3%;
    }
    .title {
        font-size: 3.8vw;
        text-align: center;
    }

    .overlay_second {
        font-size: 20px;
        width: auto;
        height: auto;
        margin: 0;
        bottom: 2%;
        right: 13%;
        padding: 0 1%;
    }

    #modal {
        margin-top: 3.5%;
        margin-left: 45.25%;
        width: 50%;
        height: auto;
        overflow-y: scroll;
        padding: 1%;
        visibility: visible;
    }

}
/* Galaxy S9/S9+ Android */
@media only screen and (max-width: 360px) {

}

/* iPad Media Design Queries needed */
